aiosqlite==0.17.0
alembic==1.7.7
anyio==3.7.1
APScheduler==3.6.3
asgiref==3.8.1
bcrypt==4.2.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.17.1
charset-normalizer==2.0.12
click==8.1.7
cryptography==43.0.1
dnspython==2.6.1
ecdsa==0.19.0
email-validator==1.2.1
exceptiongroup==1.2.2
fastapi==0.78.0
fastapi-login==1.10.2
fastapi-users==10.0.6
fastapi-users-db-sqlalchemy==4.0.5
greenlet==1.1.2
gunicorn==23.0.0
h11==0.14.0
httptools==0.6.1
idna==3.3
Jinja2==3.1.4
kaleido==0.2.1
makefun==1.13.1
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
numpy==1.22.2
packaging==24.1
pandas==1.4.1
passlib==1.7.4
Pillow==9.0.1
plotly==5.6.0
psycopg2-binary==2.9.3
pyasn1==0.6.1
pycparser==2.22
pydantic==1.9.1
Pygments==2.18.0
PyJWT==2.4.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
python-telegram-bot==13.7
pytz==2021.3
PyYAML==6.0.2
requests==2.27.1
rich==13.8.1
rsa==4.9
six==1.16.0
sniffio==1.3.1
SQLAlchemy==1.4.36
SQLAlchemy-Utils==0.41.2
starlette==0.19.1
tenacity==8.0.1
tornado==6.4.1
typing_extensions==4.12.2
tzlocal==5.2
urllib3==1.26.8
uvicorn==0.17.6
uvloop==0.20.0
watchgod==0.8.2
websockets==13.1
